.page-profile {
  width: 92%;
  margin: auto;
  text-align: center;
  margin-top: 20px;

  img {
    width: 60%;
    margin-bottom: 40px;
  }

  button, .MuiFormControl-root  {
    margin-top: 10px;
  }
}